.btm-nav, .navbar {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btm-nav ul, .navbar ul {
  display: flex;
  list-style-type: none;
}
.btm-nav a, .navbar a {
  color: #333;
}
.btm-nav a:hover, .navbar a:hover {
  color: #063169;
}

.navbar {
  font-size: 0.6875rem;
}
.navbar li {
  margin-right: 15px;
}

.btm-nav {
  font-weight: 400;
}
.btm-nav li {
  margin-right: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #0c1224;
  font-family: 100% system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.6;
}

img {
  width: 70%;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: #ffffff;
  color: #333;
  height: 600px;
}
.showcase-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase-content h1 {
  font-size: 50px;
  line-height: 1.2;
  align-content: flex-start;
}
.showcase-content .banner-img {
  width: 40%;
  display: inline-block;
}
.showcase-content .logo {
  display: flex;
  width: 10%;
}

.main {
  background-color: #ffffff;
  color: #333;
}
.main footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.container {
  max-width: 1250px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.article-2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem 0;
}

.p-2 {
  padding: 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem 0;
}

.p-3 {
  padding: 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem 0;
}

.p-4 {
  padding: 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem 0;
}

.p-5 {
  padding: 5rem;
}

.py-5 {
  padding: 5rem 0;
}

.btn-accent, .btn-cancel, .btn-secondary, .btn-primary {
  display: inline-block;
  padding: 8px 10px;
  margin-right: 5px;
  font-size: 0.9375rem;
}

.btn-primary {
  background-color: #e2a858;
  color: #fff;
  border-radius: 10px 0;
  border: none;
}

.btn-secondary {
  background-color: #ea4d57;
  color: #fff;
  border-radius: 10px 0;
  border: none;
}

.btn-cancel {
  background-color: #ff3333;
  color: #fff;
  border-radius: 10px 0;
  border: none;
}

.btn-accent {
  border: 2px;
  border-radius: 5px;
  border-color: #063169;
}