@import 'config';
@import 'navbar';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $body-bg;
    color: $accent-color;
    font-family: 100% $font-stack;
    font-weight: map-get($font-weights, 'regular');
    line-height: 1.6;
}

img {
    width: 70%;
}

a {
    text-decoration: none;
}

.showcase {
    @include set-background($body-bg);
    height: 600px;    

    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 50px;
            line-height: 1.2;
            align-content: flex-start;
        }

        .banner-img{
            width: 40%;
            display: inline-block;
        }

        .logo {
            display:flex;
            width:10%;
        }

    }
}
.main{
    @include set-background($body-bg);
    footer{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

}
@import 'utilities';
@import 'buttons';